.Rhistory
.DS_Store
.Rproj.user
.Rproj.user/
.Rproj.user/A9274972/sources/prop/54F7DB74
*.pper
.Rproj.user/A9274972/sources/prop/62391B97
.Rproj.user/A9274972/pcs/workbench-pane.pper
.Rproj.user/A9274972/sources/prop/240C313C
.Rproj.user/A9274972/sources/prop/62391B97
